In [1]:
import pandas as pd
df=pd.read_csv("C:/Users/sanke/Downloads/Credit card dataset/CC GENERAL.csv")

In [3]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [5]:
# Drop ID column if present
df = df.drop(columns=['CUST_ID'], errors='ignore')

# Check the first few rows
df.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [7]:
## data preprocessing

In [9]:
from sklearn.preprocessing import StandardScaler

# Fill missing values with mean
df.fillna(df.mean(), inplace=True)

# Scale the data
scaler = StandardScaler()
data_scaled = scaler.fit_transform(df)

In [11]:
## K-medoids clustering

In [29]:
pip install pyclustering

Collecting pyclusteringNote: you may need to restart the kernel to use updated packages.

  Downloading pyclustering-0.10.1.2.tar.gz (2.6 MB)
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/2.6 MB 146.3 kB/s eta 0:00:18
      --------------------------------------- 0.1/2.6 MB 252.2 kB/s eta 0:00:10
     - -------------------------------------- 0.1/2.6 MB 450.6 kB/s eta 0:00:06
     --- ------------------------------------ 0.3/2.6 MB 827.5 kB/s eta 0:00:03
     ------ --------------------------------- 0.4/2.6 MB 1.3 MB/s eta 0:00:02
     --------- ------------------------------ 0.6/2.6 MB 1.5 MB/s eta 0:00:02
     ------------ --------------------------- 0.8/2.6 MB 1.8 MB/s eta 0:00:02
     ---------------- ----------------------- 1.1/2.6 MB 2.2 MB/s eta 0:00:01
     -------------------- ------------------- 1.3/2.6 MB 2.3 MB/s eta 0:00:01
     ------------------------ --------------- 1.5/2.6 MB 2.7 MB/s eta 0:00:01
     --------------------------- ------------ 1.7/2.6 MB 2.7 MB/s eta 0:00:01
     ------------------------------- -------- 2.1/2.6 MB 3.0 MB/s eta 0:00:01
     ------------------------------------ --- 2.3/2.6 MB 3.2 MB/s eta 0:00:01
     ---------------------------------------  2.6/2.6 MB 3.3 MB/s eta 0:00:01
     ---------------------------------------- 2.6/2.6 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scipy>=1.1.0 in c:\users\sanke\anaconda3\lib\site-packages (from pyclustering) (1.13.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sanke\anaconda3\lib\site-packages (from pyclustering) (3.9.2)
Requirement already satisfied: numpy>=1.15.2 in c:\users\sanke\appdata\roaming\python\python312\site-packages (from pyclustering) (1.26.2)
Requirement already satisfied: Pillow>=5.2.0 in c:\users\sanke\anaconda3\lib\site-packages (from pyclustering) (10.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sanke\anaconda3\lib\site-packages (from matplotlib>=3.0.0->pyclustering) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\sanke\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->pyclustering) (1.16.0)
Building wheels for collected packages: pyclustering
  Building wheel for pyclustering (setup.py): started
  Building wheel for pyclustering (setup.py): finished with status 'done'
  Created wheel for pyclustering: filename=pyclustering-0.10.1.2-py3-none-any.whl size=2395132 sha256=8bea53626dd3ae58b563683725db6d4f1f1dfcc120e6dc6f1968778a4139a6f6
  Stored in directory: c:\users\sanke\appdata\local\pip\cache\wheels\68\29\b4\131bd7deec3663cc311ab9aa64d6517c3e3ec24bcadfc32f74
Successfully built pyclustering
Installing collected packages: pyclustering
Successfully installed pyclustering-0.10.1.2

[notice] A new release of pip is available: 23.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
from pyclustering.cluster.kmedoids import kmedoids
from pyclustering.utils import timedcall
from pyclustering.cluster import cluster_visualizer
import numpy as np

# Example data
data = np.array([[1,2],[2,1],[3,4],[5,7],[3,5],[8,7]])

# Initial medoid indices
initial_medoids = [0,3]

# Create K-Medoids instance
kmedoids_instance = kmedoids(data, initial_medoids)
kmedoids_instance.process()

# Get clusters
clusters = kmedoids_instance.get_clusters()
medoids = kmedoids_instance.get_medoids()
print("Clusters:", clusters)
print("Medoids:", medoids)

Clusters: [[0, 1, 2, 4], [3, 5]]
Medoids: [2, 3]

In [ ]:
# Install pyclustering if not already done
# !pip install pyclustering

import numpy as np
from pyclustering.cluster.kmedoids import kmedoids
from pyclustering.cluster import cluster_visualizer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
import random

# Suppose your dataset (credit card features) is in a DataFrame called df
# Exclude non-numeric columns
data = df.select_dtypes(include=np.number).values

# Scale the data
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

# Try K = 2 to 10 to find the best silhouette score
silhouette_scores = []
for k in range(2, 11):
    # Randomly select initial medoids
    initial_medoids = random.sample(range(len(data_scaled)), k)
    kmedoids_instance = kmedoids(data_scaled, initial_medoids)
    kmedoids_instance.process()
    clusters = kmedoids_instance.get_clusters()
    
    # Flatten cluster labels for silhouette score
    labels = np.zeros(len(data_scaled))
    for cluster_idx, cluster in enumerate(clusters):
        for index in cluster:
            labels[index] = cluster_idx
    
    score = silhouette_score(data_scaled, labels)
    silhouette_scores.append(score)

# Determine optimal K
optimal_k = range(2, 11)[np.argmax(silhouette_scores)]
print("Optimal number of clusters:", optimal_k)